<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Formulaire</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-5">

    <h2 class="text-center mb-4">Formulaire d'ajout</h2>

    <form th:action="@{/comptes/add}" th:object="${compte}" method="POST" >
           
             Titulaire:
            <input type="text" th:field="*{titulaire}"  required >
             Solde
            <input type="number" th:field="*{solde}"  required >
    <label for="banqueId"> choose banque :</label>
     <select name="banqueId" required>
     <option value=""disabled selected> choose banque</option>
     <option th:each="ban:${banques}" th:value="${ban.id}" th:text="${ban.name}"></option>     
     </select>
     <br>

        

        <button type="submit" class="btn btn-primary w-100">Valider</button>

    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>