<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Formulaire</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  </head>
  <body class="container mt-5">

    <h2 class="text-center mb-4">Formulaire de modification</h2>

    <form th:action="@{/comptes/modifier}" th:object="${compte}" enctype="multipart/form-data" method="post" >
           <input type="hidden" th:field="*{id}" />
          <div class="mb-3">
            <label for="titulaire" class="form-label">Titulaire :</label>
            <input type="text" id="titulaire" th:field="*{titulaire}" class="form-control" required >
        </div>
        
        <div class="mb-3">
            <label for="CIN" class="form-label"> CIN:</label>
            <input type="text" id="cin" th:field="*{cin}" class="form-control" required >
        </div>
        
         <div class="mb-3">
            <label for="E-mail" class="form-label"> Email:</label>
            <input type="text" id="email" th:field="*{email}" class="form-control" required >
        </div>
         
       <div class="mb-3">
            <label for="solde" class="form-label">Solde initial :</label>
            <input type="number" id="solde" th:field="*{solde}" class="form-control" required >
      </div>

        <div class="mb-3">
            <label for="banqueId" class="form-label">Banque :</label>
            <select name="banqueId" id="banqueId" class="form-select" required>
                <option value="" disabled selected>Choisir une banque</option>
                <option 
    th:e        th:each="ban : ${banques}" 
    th:v        th:value="${ban.id}" 
    th:t        th:text="${ban.name}"
    th:s        th:selected="${ban.id} == ${compte.banque.id}">
</option>
            </select>
        </div>
        <div class="mb-3">
           <label class="form-label">Image actuelle :</label><br>
           <img th:if="${compte.imageUrl != null}" th:src="@{${compte.imageUrl}}" alt="Image actuelle" style="max-width: 200px;">
       </div>
        <div class="mb-3">
            <label for="image" class="form-label">Télécharger une nouvelle image :</label>
            <input type="file" id="image" name="image" class="form-control" accept="image/*" >
        </div>

        <button type="submit" class="btn btn-primary w-100">Valider</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>